<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>It's Your Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css" />
</head>
<body class="container-fluid">
  <header id="page-header" class="row">
    <h1 class="col-xs-6">It's Your Story</h1>
    <h4 class="col-xs-6">
      A collection of visitor stories from the
      <a href="//www.nmajh.org" target="_blank">
        Museum of American Jewish History
      </a>
    </h4>
  </header>

  <section id="main-content" class="row" ng-controller="IYSStateController">
    <header id="question-header" class="row">
      <carousel interval="0" no-wrap="false" class="col-xs-12" iys-update-state="question">
        <slide ng-repeat="question in state.questions" active="question.active">
          <h3 class="text-center">{{question.text}}</h3>
        </slide>
      </carousel>
    </header>

    <div class="row video-section">
      <div class="row" ng-controller="IYSFeedbackController">
        <button class="like btn btn-default col-xs-2 col-xs-offset-1" ng-click="likeStory(state.active.story)">Like {{state.active.story.likes}}</button>
        <button class="flag btn btn-default col-xs-2 col-xs-offset-1" ng-click="flagStory(state.active.story)">Flag</button>
      </div>
      <div class="col-xs-10 col-xs-offset-1" ng-controller="IYSVideoController as video">
        <videogular vg-theme="video.config.theme">
          <vg-media vg-src="video.storySource"></vg-media>

          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
          </vg-controls>

          <vg-poster vg-url='state.active.story.image'></vg-poster>
        </videogular>
      </div>
    </div>


    <ul id="thumbnails" class="row col-xs-12 list-inline row filmstrip" ng-controller="IYSFilmstripController">
      <li
          ng-repeat="story in state.stories"
          class="col-xs-3"
          ng-class="{ active: story === state.active.story }"
          ng-click="selectStory(story)">

        <img ng-src="{{ story.image }}" class="img-responsive" alt="video thumbnail" />
      </li>
    </ul>

    <section id="question-footer" class="row">
      <ul id="tag-cloud" class="col-xs-10 col-xs-offset-1 list-inline tag-cloud" ng-controller="IYSTagController">
        <li
            ng-repeat="(tag, count) in state.active.question.tags"
            ng-class="{ active: tagMatches(tag) }">

          {{ tag + ", " + count }}
        </li>
      </ul>
    </section>
  </section>

  <script src="app.js"></script>
</body>
</html>
