<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>It's Your Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css" />
</head>
<body class="container-fluid">
  <header id="page-header">
    <h1><small>It's Your</small><br />Story</h1>
    <img src="logo.jpg" alt="NMAJH logo" class="logo" />
    <h4>
      A collection of visitor stories from<br />the
      <a href="//www.nmajh.org" target="_blank">
        Museum of American Jewish History
      </a>
    </h4>

  </header>

  <section id="main-content" class="" ng-controller="IYSStateController">
    <header id="question-header">
      <carousel interval="0" no-wrap="false" class="questions" iys-update-state="question">
        <slide ng-repeat="question in state.questions" active="question.active">
          <h3 class="text-center">{{question.text}}</h3>
        </slide>
      </carousel>
    </header>

    <div class="video-section">
      
      <div class="row">
        <div class="video-player col-xs-6 col-xs-offset-3" ng-controller="IYSVideoController as video">
          <videogular vg-theme="video.config.theme">
            <vg-media vg-src="video.storySource"></vg-media>

            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-poster vg-url='state.active.story.image'></vg-poster>
          </videogular>
          <div class="video-controls">
            <div ng-controller="IYSFeedbackController">
              <button class="like" ng-click="likeStory(state.active.story)">Like {{state.active.story.likes}}</button>
              <button class="flag" ng-click="flagStory(state.active.story)">Flag</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="thumbnail-wrapper col-md-6 col-md-offset-3">
        <ul id="thumbnails" class=" list-inline filmstrip" ng-controller="IYSFilmstripController">
          <li
              ng-repeat="story in state.stories"
              ng-class="{ active: story === state.active.story }"
              ng-click="selectStory(story)">

            <img ng-src="{{ story.image }}" class="img-responsive" alt="video thumbnail" />
          </li>
        </ul>
      </div>
    </div>

    <section id="question-footer" class="row">
      <ul id="tag-cloud" class="col-xs-10 col-xs-offset-1 list-inline tag-cloud" ng-controller="IYSTagController">
        <li
            ng-repeat="(tag, count) in state.active.question.tags"
            ng-class="{ active: tagMatches(tag) }">
            <button class="btn btn-warning tag"><span class="text">{{ tag }}</span> <span class="number" ng-if="count > 1">{{ count }}</span></button>
        </li>
      </ul>
    </section>
  </section>

  <script src="app.js"></script>
</body>
</html>
